<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask App</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <h3>Upload Videos to compare</h3>
        <div style="margin-bottom: 10px;">
            <label for="">Video 1</label>
            <input type="file" name="video_1" >
        </div>
        <div style="margin-bottom: 10px;"   >
            <label for="">Video 2</label>
            <input type="file" name="video_2" >
        </div>
        <button type='submit'>Submit</button>
    </form>
</body>
</html>